body{
    background: #101010;
    margin: 0;
}
#page-title{
    font-size: 4rem;
}
h1 {
    font-family: sans-serif;
    color: white;
    margin: 0 10% 0 0;
    font-size: 3rem;
}
h2{
    font-family: sans-serif;
    color: white;
    font-size: 2rem;
}
p, ul{
    font-family: sans-serif;
    color: white;
    font-size: 1.5rem;
}
li {
    padding-bottom: 0.3em;
}
#wrapper {
    min-height: 90vh;
    margin: 10vh 10vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#wrapper > section{
    flex-basis: 100%;
}
a{
    color: orange;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#portfolio-container{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 30px;
}
.portfolio-item{
    flex-basis: 32%;
    flex-grow: 1;
    padding:0 10px 0 10px;
    border-style: solid;
    border-width: 2px;
    border-image: linear-gradient(75deg, rgba(20,170,255,0.7), rgba(255,50,150, 0.7)) 1;
}

@media only screen and (max-width: 900px) {
    .portfolio-item{
        flex-basis: 100%;
    }
    .portfolio-item > p {
        padding-left: 0;
    }
    #wrapper {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}