<nav>
    <h1 class="nav-heading" id="nav-title">Jack Pilley</h1>
    <a class="nav-link" {% if page.url == "/" %} id="nav-current" {% endif %} href="/">Home</a>
    <h2 class="nav-heading">External Links</h2>
    <a class="nav-link" target="_blank" href="https://github.com/JackPilley">Github<img src="/assets/svg/external-link-light.svg"></a>
    <a class="nav-link" target="_blank" href="https://movingpictures.itch.io/">Itch.io<img src="/assets/svg/external-link-light.svg"></a>
    <h2 class="nav-heading">Experiments</h2>
    <a class="nav-link" {% if page.url == "/experiments/plasma.html" %} id="nav-current" {% endif %} href="/experiments/plasma.html">Plasma</a>
    <a class="nav-link" {% if page.url == "/experiments/island.html" %} id="nav-current" {% endif %} href="/experiments/island.html">Floating Island</a>
    <a class="nav-link" {% if page.url == "/experiments/raymarch.html" %} id="nav-current" {% endif %} href="/experiments/raymarch.html">Raymarching</a>
    <a class="nav-link" {% if page.url == "/experiments/shadernoise.html" %} id="nav-current" {% endif %} href="/experiments/shadernoise.html">Shader Noise</a>
</nav>