#default-wrap{
    margin: 60px auto 0 auto;
    max-width: 600px;
    padding: 20px;
}
#default-wrap p{
    text-align: justify;
    margin-top: 16px;
    margin-bottom: 16px;
}
#default-wrap h2, #default-wrap h1{
    margin-bottom: 8px;
}

.external-link{
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
}

.external-link:hover{
    text-decoration: underline;
}

.external-link img{
    height: 0.7em;
    display: inline;
    padding-left: 10px;
}

.inline-img{
    height: 0.7em;
    display: inline;
    padding-left: 3px;
}

.post-img{
    display:block;
    max-width: 80%;
    padding:10px;
    margin: auto;
}

pre{
    overflow-x:auto;
    max-width: 100%;
    border-width: 1px 0 1px 0;
    border-style: dotted;
    padding: 5px 0 5px 0;
}